<!DOCTYPE html>
<html>
<head lang="de">
  <meta charset="UTF-8">
  <title></title>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/formular.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
  <form id="time-form" class="form-inline" role="form">
    <input type="date" class="form-control" id="date" placeholder="Date">
    <input type="time" class="form-control" id="from" placeholder="From">
    <input type="time" class="form-control" id="to" placeholder="To">
    <input type="time" class="form-control" id="lunch" placeholder="Lunch">
    <input type="hidden" class="form-control" id="id" >
    <button id="reset" type="reset" class="btn btn-warning">Reset</button>
    <button id="submit" type="button" class="btn btn-primary">Submit</button>
  </form>
  <table class="table" id="timetable"></table>
</body>
</html>