<!DOCTYPE html>
<html>
<head lang="de">
  <meta charset="UTF-8">
  <title></title>
  <script src="js/jquery-2.1.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="from">date</label>
    <input type="text" class="form-control" id="from" placeholder="From">
  </div>
  <div class="form-group">
    <label class="sr-only" for="to">date</label>
    <input type="text" class="form-control" id="to" placeholder="To">
  </div>
  <div class="form-group">
    <label class="sr-only" for="lunch">date</label>
    <input type="text" class="form-control" id="lunch" placeholder="Lunch">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</body>
</html>